# Ignore sensitive configuration files
dot-config/elephant/menus/my_stuff.toml

# Ignore all PDF files
*.pdf

# Arch Linux-specific cache files
*.pacnew
*.pacsave
*.part

# Compiled binaries and object files
*.o
*.out
*.a
*.so

# Test results and temporary logs
*.log
*.test
*.tmp

# Editor specific files
*.swp
*.swo

# Python-related files and folders
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# Documentation and markdown backups
*.md~
*.bk
*.bak

# Backup files
*~
*.bk
*.bak
*.old

# Junk files
.DS_Store
Thumbs.db

