[Desktop Entry]
Actions=new-window;new-private-window;profile-manager-window;
Type=Application
Name=Floorp
Comment=Browse the Web
Exec=floorp --class="floorp" %u
Icon=floorp
StartupNotify=true
StartupWMClass=floorp
Terminal=false
TerminalOptions=
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
Categories=Network;WebBrowser;
Keywords=web;browser;internet;

[Desktop Action new-window]
Name=Open a New Window
Exec=floorp --class="floorp" --new-window %u

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=floorp --class="floorp" --private-window %u

[Desktop Action profile-manager-window]
Name=Open the Profile Manager
Exec=floorp --class="floorp" --ProfileManager %u
