[Desktop Entry]
Categories=System;Tools;
Comment=Add or remove software installed on the system
Exec=/usr/bin/octopi
Name=Octopi
Icon=/home/jontas/.local/share/icons/system/octopi.svg
MimeType=
GenericName=Add/Remove Software
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Version=1.5
SingleMainWindow=true
